*{ 

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

.us-none {

  user-select: none;
}

.br-5px {

  border-radius: 5px;
}

.br-10px {

  border-radius: 10px;
}

.padding_cstm {

  padding: 20px;
}

.gap_cstm {

  gap: 20px
}

.w-100 {

  width: 100%;
  background-color: #FBFBFB;
}

.cstm_flex {

  display: flex;
}

.flex_j-center {

  justify-content: center;
}

.flex_a-center {

  align-items: center;
}

.flex_j-space-between {

  justify-content: space-between;
}

.flex_d-col {

  flex-direction: column;
}

.flex_d-row {

  flex-direction: row;
}

.flex_d-col-rev {

  flex-direction: column-reverse !important;
}

.flex_d-row-rev {

  flex-direction: row-reverse !important; 
}

.container_cstm {

  width: 1320px;
}

.p-normal {

  font-size: 16px;
  font-weight: 500;
}

.p-medium {

  font-size: 14px;
  font-weight: 500;
}

.p-small {

  font-size: 12px;
  font-weight: 500;
}

.p-extra-small {

  font-size: 10px;
  font-weight: 500;

}

.h1-extra-big {

  font-size: 42px;
}

.h1-big {

  font-size: 36px;
}

.h1-normal {

  font-size: 30px;
}

.h1-medium {

  font-size: 26px;
}

.h1-small {

  font-size: 22px;
}

.h1-extra-small {

  font-size: 18px;
}

.fo-200 {

  font-weight: 200;
}

.fo-100 {

  font-weight: 100;
}

.fo-300 {

  font-weight: 300;
}

.fo-400 {

  font-weight: 400;
}

.fo-500 {

  font-weight: 500;
}
.fo-600 {

  font-weight: 600;
}

.fo-700 {

  font-weight: 700;
}

.fo-800 {

  font-weight: 800;
}

.fo-900 {

  font-weight: 900;
}

.headermaincontainer {

    background-color: white !important;
    position: static;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;;
}

.headercontainer {

    background-color: white !important;
    padding: 0px !important;
}


@media screen and (max-width : 1399px) {
  
  .container_cstm {

    width: 1140px;
  }

}

@media screen and (max-width : 1199px) {
  
  .container_cstm {

    width: 960px;
  }
  
}

@media screen and (max-width : 991px) {
  
  .container_cstm {

    width: 100%;
  }
}

@media screen and (max-width : 767px) {
  
  .p-normal {

    font-size: 14px;
  }

  .p-medium {

    font-size: 12px;
  }

  .p-small {

    font-size: 10px;
  }

  .p-extra-small {

    font-size: 8px;
  }

  .h1-extra-big {

    font-size: 32px;
  }

  .h1-big {

    font-size: 26px;
  }

  .h1-normal {

    font-size: 22px;
  }

  .h1-medium {

    font-size: 18px;
  }

  .h1-small {

    font-size: 16px;
  }

  .h1-extra-small {

    font-size: 14px;
  }

}


@media screen and (max-width : 575px) {
  
  .padding_cstm {

    padding: 15px;
  }

  .gap_cstm {

    gap: 15px;
  }

  .p-normal {

    font-size: 12px;
  }

  .p-medium {

    font-size: 10px;
  }

  .p-small {

    font-size: 8px;
  }

  .p-extra-small {

    font-size: 7px;
  }

  .h1-extra-big {

    font-size: 26px;
  }

  .h1-big {

    font-size: 22px;
  }

  .h1-normal {

    font-size: 18px;
  }

  .h1-medium {

    font-size: 16px;
  }

  .h1-small {

    font-size: 14px;
  }

  .h1-extra-small {

    font-size: 12px;
  }
}