

.headerparent {

    height: 100px;
    padding: 20px;
}

.headerdetailsdiv {

    width: 550px;
    font-weight: 500;
}

.headerdetailsdiv a {

    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.headeraccountdiv {

  font-weight: 500;
}

.headeraccountdiv a{

    cursor: pointer;
    text-decoration: none;
    color: #000;
}